
.weeklyReminders-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h2 {
        font-size: 1.1rem;
        font-weight: 400;
    }
    a {
        text-decoration: none;
        font-size: .9rem;
        color: $primaryText;
        font-weight: 600;
    }
}
.weekly-reminders-task {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: $primary;
        transition: .3s ease-in;
    }
    .weekly-reminders-task-icon {
        position: relative;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: $primary;
            border-radius: 40px;
            font-size: 1.4rem;
        }
    }
}
.weeekly-reminders-tasks  {
    max-height: 310px;
}
::-webkit-scrollbar {
    width: 4px;
    border-radius: 100%;

  };
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(201, 153, 31); 
  }
  
