
.flexWithGap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.weeklyReminders-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h2 {
        font-size: 1.1rem;
        font-weight: 400;
    }
    a {
        text-decoration: none;
        font-size: .9rem;
        color: $primaryText;
        font-weight: 600;
    }
}

.weekly-reminders-task {
    background-color: #fff;
}
.weekly-reminders-task-done {
    background-color: rgb(157, 253, 157);
}
.weekly-reminders-task, .weekly-reminders-task-done{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    width: 100%;
    .weekly-reminders-task-icon {
        position: relative;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: $primary;
            border-radius: 40px;
            font-size: 1.4rem;
        }
    }
}
.weekly-reminders-tasks  {
    max-height: 310px;
}
::-webkit-scrollbar {
    width: 4px;
    border-radius: 100%;

  };
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:rgb(201, 153, 31); 
  }

.weekly-reminders-remove-btn {
    cursor: pointer;
    border: none;
    padding: .2rem;
    background-color: rgb(252, 133, 133);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.weekly-reminders-done-btn {
    cursor: pointer;
    border: none;
    padding: .2rem;
    background-color: rgb(46, 234, 93);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
#addNewWeekly {
    cursor: pointer;
    &:hover {
        background-color: $primary;
        transition: .3s ease-in;
    }
}
