@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import './variables';
@import './dashboard-logo';


.dashboard {
    position: relative;
    height: 90%;
    width: 90%;
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
    font-family: "Manrope", sans-serif;
    .dashboard-sidebar {
        width: 30%;
        height: 100%;
        background-color: $sidebar;
        padding: 3rem;
    }
    

}