.mainTasks {
    width: 40%;
    padding: 3rem;
    .mainTasks-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 800;
        h5 {
            font-size: 1.5rem;
            
        }
        p {
            color: $primary;
        }
    }
    .mainTasks-icon {
        border-radius: 59% 41% 70% 30% / 46% 30% 70% 54%; 
        background-color: $primary;
        padding: 1rem;
        cursor: pointer;
        border: none;

    }
    .mainTasks-tasks {
        max-height: 750px;
        overflow: scroll;
    }
    .mainTasks-wrapper {
        margin-top: 1rem;
        .mainTask {
            background-color: $sidebar;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            padding: 1rem 5% 1rem 5%;
            border-radius: 20px;
            .mainTasks-center {
                width: 400px;
                h6 {
                    font-size: 1.1rem;
                }
                p {
                    font-size: .8rem;
                }
            }
            .mainTasks-remove-btn {
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                .mainTasks-remove-btn-icon {
                    font-size: 1.5rem;
                    color: rgb(234, 18, 18);
                    cursor: pointer;
                }
            }
        }
    }
}