.sidebarRight {
    height: 92%;
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;
        .profile {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h6 {
                font-size: 1rem;
            }
            p {
                font-size: .8rem;
                color: $primary;
                font-weight: 600;
            }
            .profile-icon {
                border-radius: 59% 41% 70% 30% / 46% 30% 70% 54%; 
                background-color: $primary;
                padding: 1rem;
            }
        }
}