@import './variables';
@import './dashboard';
@import './calendar';
@import './mainTasks';
@import './SidebarRight';
@import './musicPayer';
@import './time';
@import './backdrop';
@import './modal';
@import './weather';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: $primary;
    height: 100vh;
    @include flexCenter();
    position: relative;
    color: $text;
}

