@import './variables';
@import './dashboard';
@import './calendar';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: $primary;
    height: 100vh;
    @include flexCenter();
    position: relative;
}

